<!DOCTYPE html>
<html>
<head>
    <title>registration page</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
</head>
<body>
   <div class="container card card-body mt-4  bg-warning">
    <h2 class="text-center bg-success text-white border-rounded">student registration form</h2>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="uname" placeholder="enter your username" class="form-control my-4 ">
        <input type="text" name="rnm" placeholder="enter your roll number" class="form-control my-4">
        <input type="number" name="age" placeholder="enter your age" class="form-control my-4">
        <input type="number" name="mbl" placeholder="enter your mobile number" class="form-control my-4">
        <input type="email" name="em" placeholder="enter your email address" class="form-control my-4">
        <input type="text" name="addr" placeholder="enter your address" class="form-control my-4">
        <div class="text-center">
            <button class="btn btn-success">register</button>
        </div>
    </form>
   </div>
</body>
</html>